/* Reset */
@import url("reset.css");
/* ----- */
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter_18pt-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter_18pt-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter_18pt-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter_18pt-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
* {
  font-family: "Inter", sans-serif;
  color: #4a5565;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  min-height: 100%;
}

._container {
  max-width: 1295px;
  margin: 0 auto;
}

img {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

.info > :not(:last-child) {
  margin: 0 0 24px 0;
}
.info__title {
  font-family: Manrope;
  font-size: 30px;
  font-weight: 400;
  line-height: 120%;
  /* 36px/30px */
  color: #0A0A0A;
}
.info__text {
  font-size: 18px;
  line-height: 162.777778%;
  /* 29.3/18 */
  font-weight: 400;
  color: #454545;
}
.btn {
  border-radius: 0.875rem;
  background: #F3F4F6;
  padding: 0 15px;
}

._most-pop-btn {
  background: #009966;
  color: #fff;
  padding: 16px;
}

.item {
  border: 1px solid rgba(229, 231, 235, 0.6);
  border-radius: 24px;
  background: #fff;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1px 16px;
  margin: 0 auto 64px;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item {
  color: #364153;
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
}
.menu__item:not(:last-child) {
  margin: 0 32px 0 0;
}

.menu__button {
  margin: 0 0 0 32px;
  height: 42px;
  background: #009966;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
}

.page__main {
  background-image: linear-gradient(-116deg, #ecfdf5 0, #fff 50%, #f7fee7 100%);
  padding: 60px 15px;
  height: 100%;
}

.main .sign {
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .main .sign {
    margin: 0;
  }
}
.main__header.header-block {
  text-align: center;
  margin: 0 auto 32px;
  width: 75%;
}
@media (min-width: 1200px) {
  .main__header.header-block {
    text-align: left;
    margin: 0 0 32px;
  }
}
.main .two-columns__start-btn {
  -webkit-box-shadow: 0 10px 15px -3px rgba(164, 244, 207, 0.25);
          box-shadow: 0 10px 15px -3px rgba(164, 244, 207, 0.25);
  background-color: #009966;
  color: #fff;
}
.main .two-columns__demo-btn {
  border: 2px solid rgba(0, 153, 102, 0.25);
  background: #fff;
}
.main .column-two {
  width: 600px;
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .main .column-two {
    width: 100%;
    margin: auto;
  }
}

.two-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 48px;
}
@media (min-width: 1200px) {
  .two-columns {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.two-columns__column-two, .two-columns__column-one {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}
@media (min-width: 1200px) {
  .two-columns__column-two, .two-columns__column-one {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}
.two-columns__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 1200px) {
  .two-columns__btns {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}
.two-columns__start-btn {
  margin: 0 16px 0 0;
  padding: 17px 31px;
}
.two-columns__start-btn img {
  width: 20px;
  height: 20px;
}
.two-columns__demo-btn {
  padding: 17px 34px;
}

.column-two {
  position: relative;
  margin: auto 0;
}
.column-two__img {
  border-radius: 44px;
  overflow: hidden;
  border: 1px solid #fff;
}
.column-two__placeholder {
  position: absolute;
  bottom: 35.41px;
  left: 43px;
}

.values {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 1200px) {
  .values {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}
.values__body {
  width: 189.33px;
  height: 56px;
  padding: 0 10px;
}
.values__body:not(:last-child) {
  margin: 0 24px 0 0;
}
.values__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 8px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.values__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 8px 0 0;
  width: 21px;
  height: 21px;
}
.values__value {
  color: #0A0A0A;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 133.333333%; /* 32/24 */
  text-wrap: nowrap;
}
.values__text {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 142.857143%; /* 20/14 */
  text-wrap: nowrap;
}

.placeholder {
  padding: 13px 25px;
  max-width: 275px;
  border: 1px solid #F3F4F6;
  -webkit-box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(255, 255, 255, 0.29);
  backdrop-filter: blur(16.1px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.placeholder__logo {
  margin: 0 16px 0 0;
}
.placeholder__info {
  height: 34px;
  margin: auto 0;
}
.placeholder__title {
  color: #71f3c8;
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}
.placeholder__value {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 145.454545%; /* 16/11 */
  letter-spacing: -0.6px;
}

.header-block {
  text-align: center;
}
.header-block__sign {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0 1rem;
  background: #ECFDF5;
  color: #007A55;
  height: 2.25rem;
  border-radius: 1.125rem;
}
.header-block__title {
  font-family: Manrope;
  color: #0A0A0A;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -1.5px;
  margin: 2rem 0;
}
@media (min-width: 376px) {
  .header-block__title {
    font-size: 3rem;
  }
}
.header-block__sub-title {
  font-size: 1rem;
  font-weight: 400;
  line-height: 140%;
}
@media (min-width: 376px) {
  .header-block__sub-title {
    font-size: 1.25rem;
  }
}

.sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sign__icon {
  max-width: 1rem;
  max-height: 1rem;
  margin: 0 0.5rem 0 0;
}
.sign__text {
  text-wrap: nowrap;
  color: #007A55;
  font-size: 14px;
  font-weight: 500;
  line-height: 70%;
  /* 14/20 */
}

._productivity {
  margin: 0;
}

.productivity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.productivity__text {
  text-wrap: nowrap;
}

._green {
  font-family: Manrope;
  color: #009966;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -1.5px;
  /* 1.2/16 */
  margin: 1.125rem 0 0;
}
@media (min-width: 376px) {
  ._green {
    font-size: 3rem;
  }
}

.page__work {
  padding: 60px 30px 50px;
}
@media (min-width: 1200px) {
  .page__work {
    padding: 60px 0 200px 0;
  }
}

.work .sign {
  margin: 0 auto;
}
.work__header .header-block__sub-title {
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 576px) {
  .work__header .header-block__sub-title {
    width: 85%;
  }
}
@media (min-width: 768px) {
  .work__header .header-block__sub-title {
    width: 60%;
  }
}
@media (min-width: 992px) {
  .work__header .header-block__sub-title {
    width: 52%;
  }
}
.work__container > :not(:last-child) {
  margin: 0 0 4rem;
}
.work__items-column {
  display: -ms-grid;
  display: grid;
  gap: 24px;
  -ms-grid-columns: 1fr;
  grid-template-columns: repeat(1, 1fr);
}
@media (min-width: 768px) {
  .work__items-column {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  .work__items-column {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }
}
.work__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -24px 0;
}
.work__image > div {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  padding: 0 24px 0;
}
@media (min-width: 992px) {
  .work__image > div {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}
.work__img {
  text-align: center;
  position: relative;
  z-index: 1;
}
@media (max-width: 992px) {
  .work__img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, rgba(255, 255, 255, 0)), color-stop(80%, #fff));
    background: linear-gradient(rgba(255, 255, 255, 0) 10%, #fff 80%);
    width: 100%;
    height: 100%;
  }
}
.work__img img {
  border-radius: 16px;
  overflow: hidden;
}
.work__info {
  position: relative;
  z-index: 3;
  margin: -200px 15px 0;
}
@media (min-width: 768px) {
  .work__info {
    margin: -250px 15px 0;
  }
}
@media (min-width: 992px) {
  .work__info {
    margin: 0;
  }
}
.work .info__text {
  padding: 0 30px 0 0;
}

.column__item {
  padding: 41px;
}
.column__item > :not(:last-child) {
  margin: 0 0 24px 0;
}
.column__icon img {
  width: 48px;
  height: 48px;
}
.column__title {
  font-family: Manrope;
  font-size: 20px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -0.5px;
  color: #101828;
}
.column__text {
  font-size: 15px;
  font-weight: 400;
  line-height: 167%;
}

.case__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.case__mark {
  margin: 0 1.5rem 0 0;
  width: 1.5rem;
  height: 1.5rem;
}
.case__title {
  font-family: Manrope;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  color: #0A0A0A;
}
.case__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 171.428571%; /* 24/14 */
}

.numbers {
  padding: 60px 30px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), to(#f9ffed));
  background-image: linear-gradient(-180deg, #fff 0, #f9ffed 100%);
}
.numbers__header .header-block__title {
  margin: 0 0 30px;
}
.numbers__container > :not(:last-child) {
  margin: 0 0 3.5rem;
}
.numbers__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -15px -30px;
}
.numbers__column {
  padding: 0 15px 30px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}
@media (min-width: 769px) {
  .numbers__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}
@media (min-width: 1400px) {
  .numbers__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    padding: 0 15px 0;
  }
}
.numbers__item {
  padding: 41px;
  height: 100%;
}
.numbers__hr {
  display: block;
  background: #009966;
  margin: 20px auto;
  width: 80%;
  height: 1px;
}
@media (min-width: 768px) {
  .numbers__hr {
    width: 70%;
  }
}
@media (min-width: 992px) {
  .numbers__hr {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .numbers__hr {
    width: 1px;
    height: auto;
    margin: 0;
  }
}

.item-number__icon {
  width: 65.33px;
  height: 65.33px;
  margin: 0 0 32px 0;
}
.item-number__value {
  font-size: 40px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -1.2px;
  margin: 0 0 24px 0;
  color: #2B2B2B;
}
.item-number__title {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  margin: 0 0 8px 0;
  color: #101828;
}
.item-number__text {
  font-size: 15px;
  font-weight: 400;
  line-height: 150%;
}

.body-numbers {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px 0;
  margin: 0 15px;
}
@media (min-width: 1200px) {
  .body-numbers {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 40px;
  }
}

.count__value {
  font-size: 48px;
  line-height: 100%;
  font-weight: 700;
  letter-spacing: -1.2px;
  color: #454545;
  margin: 0 0 16px 0;
}
.count__text {
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}

.page__productivity {
  padding: 60px 30px 86px;
}
@media (min-width: 376px) {
  .page__productivity {
    padding: 60px 15px 52px;
  }
}

.productivity__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 992px) {
  .productivity__image {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.productivity__img {
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}
.productivity__img > img {
  border-radius: 16px;
  -webkit-box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
          box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}
.productivity__img {
  margin: 0 auto 60px;
  width: 80%;
}
@media (min-width: 768px) {
  .productivity__img {
    width: 75%;
  }
}
.productivity__result {
  position: absolute;
  bottom: -64px;
  right: -23px;
  color: #fff;
  background: linear-gradient(135deg, #009966, #5EA500);
  padding: 14px 24px;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
          box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}
.productivity__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.productivity__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  gap: 20px;
}
@media (min-width: 576px) {
  .productivity__grid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
.productivity__header {
  text-align: center;
  width: 75%;
  margin: 0 auto 32px;
}
@media (min-width: 992px) {
  .productivity__header {
    margin: 0 0 32px;
    text-align: left;
  }
}
.productivity .sign {
  margin: 0 auto;
}
@media (min-width: 992px) {
  .productivity .sign {
    margin: 0;
  }
}
.productivity .btn {
  margin: 60px auto 0;
  background: #009966;
  padding: 15px 31px;
  color: #fff;
  font-size: 1rem;
  line-height: 1.5rem;
}

.result__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 8px 0;
}
@media (min-width: 576px) {
  .result__top {
    margin: 0 0 12px 0;
  }
}
.result__bottom {
  color: #ECFDF5;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 142.857%;
}
@media (min-width: 576px) {
  .result__bottom {
    font-size: 0.875rem;
  }
}
.result__icon {
  width: 35px;
  height: 35px;
  margin: 0 10px 0 0;
}
@media (min-width: 576px) {
  .result__icon {
    width: 40px;
    height: 40px;
    margin: 0 12px 0 0;
  }
}
.result__period {
  color: #D0FAE5;
  font-size: 0.625rem;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}
@media (min-width: 576px) {
  .result__period {
    font-size: 0.75rem;
  }
}
.result__value {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.6px;
}
@media (min-width: 576px) {
  .result__value {
    font-size: 1.5rem;
  }
}

.grid-productivity__item {
  padding: 29px;
}
.grid-productivity__icon {
  width: 40px;
  height: 40px;
  margin: 0 0 32px 0;
}
.grid-productivity__value {
  font-size: 20px;
  font-weight: 700;
  line-height: 200%;
  letter-spacing: -0.9px;
  color: #555658;
  margin: 0 0 8px 0;
}
.grid-productivity__param {
  font-size: 14px;
  font-weight: 400;
  line-height: 142.857%;
}

.page__impact {
  padding: 0 30px;
  background-image: linear-gradient(-131deg, #f9fafb 0, #ecfdf5 100%);
}
@media (min-width: 376px) {
  .page__impact {
    padding: 60px;
  }
}

.impact .sign {
  margin: 0 auto;
}
.impact__container > :not(:last-child) {
  margin: 0 0 64px 0;
}
.impact__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -16px;
}
.impact__footer {
  background: #fff;
  border: 1px solid rgba(229, 231, 235, 0.6);
  padding: 20px 20px 40px;
  border-radius: 16px;
}
.impact__footer > :not(:last-child) {
  margin: 0 0 32px 0;
}

.head__columns :not(:last-child) {
  margin: 0 0 16px 0;
}
.head__icon {
  width: 44px;
  height: 44px;
}
.head__title {
  color: #101828;
  font-size: 1.5rem;
  font-style: normal;
  font-family: Manrope;
  font-weight: 700;
  line-height: 200%;
  letter-spacing: -0.6px;
}
.head__text {
  font-size: 0.937rem;
  font-weight: 400;
  line-height: 150%;
}

.columns__impact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -16px;
}
.columns__column {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  margin: 0 0 30px 0;
  padding: 0 16px;
}
@media (min-width: 768px) {
  .columns__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }
}
@media (min-width: 1080px) {
  .columns__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333%;
            flex: 0 0 33.333%;
  }
}
.columns__most-pop {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #009966;
  color: #fff;
  text-transform: uppercase;
  padding: 6px 20px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 14px;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 125%;
}
.columns__item {
  padding: 40px;
}
.columns__item > :not(:last-child) {
  margin: 0 0 27px 0;
}
.columns__price {
  border-bottom: 1px solid #F3F4F6;
  padding: 24px 0;
}
.columns__btn {
  width: 100%;
  padding: 13px 0;
  font-weight: 600;
  color: #101828;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.columns__btn:hover {
  color: rgba(16, 24, 40, 0.8);
  -webkit-box-shadow: 0 3px 10px rgba(16, 24, 40, 0.4);
          box-shadow: 0 3px 10px rgba(16, 24, 40, 0.4);
  -webkit-transform: scale(101%, 101%) translate(0, -2px);
          transform: scale(101%, 101%) translate(0, -2px);
}
.price__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.price__value {
  color: #101828;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -1.2px;
  margin: 0 8px 0 0;
}
.price__period {
  color: #6a7282;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 125%;
}

.conditions__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #364153;
  font-size: 0.937rem;
  font-weight: 400;
  line-height: 150%;
}
.conditions__item::before {
  content: url(../img/impact/conditions-icon.svg);
  width: 20px;
  height: 20px;
  margin: 0 16px 0 0;
}
.conditions__item:not(:last-child) {
  margin: 0 0 16px 0;
}

.trusted {
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 576px) {
  .trusted {
    width: 75%;
  }
}
@media (min-width: 768px) {
  .trusted {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .trusted {
    width: 100%;
  }
}
.trusted__head {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 125%;
}
.trusted__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.trusted__list > :not(:last-child) {
  margin: 0 0 15px;
}
@media (min-width: 992px) {
  .trusted__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .trusted__list > :not(:last-child) {
    margin: 0 92px 0 0;
  }
}
.trusted__item {
  color: #8c8d8f;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

._most-pop {
  border: 1px solid #009966;
  -webkit-box-shadow: 0 8px 10px -6px rgba(208, 250, 229, 0.5), 0 20px 25px -5px rgba(208, 250, 229, 0.5);
          box-shadow: 0 8px 10px -6px rgba(208, 250, 229, 0.5), 0 20px 25px -5px rgba(208, 250, 229, 0.5);
}

.page__teams {
  padding: 60px 15px;
}
@media (min-width: 992px) {
  .page__teams {
    padding: 60px 30px;
  }
}

.teams .sign {
  margin: 0 auto;
}
.teams__header:not(:last-child) {
  margin: 0 0 64px 0;
}
.teams__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.teams .columns__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
}
@media (min-width: 768px) {
  .teams .columns__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }
}
@media (min-width: 992px) {
  .teams .columns__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333%;
            flex: 0 0 33.333%;
  }
}
.teams .item {
  height: 100%;
}
.teams .item__desc > :not(:last-child) {
  margin: 0 0 32px 0;
}
.teams .item__rating img {
  width: 16px;
  height: 16px;
}
.teams .item__text {
  color: #364153;
  font-size: 0.937rem;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-weight: 400;
  line-height: 150%;
}
.teams .user__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.teams .user__img {
  width: 48px;
  height: 48px;
  margin: 0 16px 0 0;
}
.teams .user__name {
  color: #101828;
  font-size: 0.937rem;
  font-weight: 600;
  line-height: 143.75%;
  letter-spacing: -0.375px;
}
.teams .user__post {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 125%;
}
.teams .user__company {
  color: #6a7282;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 100%;
}

.page__about {
  padding: 60px 30px 124px;
  background-image: linear-gradient(-128deg, #F9FAFB 0, #ecfdf5 100%);
}

.about .sign {
  margin: 0 auto;
}
.about__header {
  margin: 0 0 56px 0;
}
.about__body > :not(:last-child) {
  margin: 0 0 32px;
}
@media (min-width: 910px) {
  .about__body {
    display: -ms-grid;
    display: grid;
    gap: 32px;
    -ms-grid-columns: 39.5% 32px 60.5%;
    grid-template-columns: 39.5% 60.5%;
    padding: 0 32px 0;
  }
}
.about__contact-info > :not(:last-child) {
  margin: 0 0 32px 0;
}
.about__form {
  padding: 61px 41px 21px;
}

.contact-info__title {
  color: #0A0A0A;
  font-size: 1.5rem;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  line-height: 133%;
  letter-spacing: -0.6px;
  margin: 0 0 24px 0;
}
.contact-info__text {
  color: #4a5565;
  font-size: 0.937rem;
  font-weight: 400;
  line-height: 163%;
}
.contact-info__body > :not(:last-child) {
  margin: 0 0 24px 0;
}
.contact-info__schedule {
  padding: 33px;
  margin: 0 auto;
  width: 100%;
}
@media (min-width: 576px) {
  .contact-info__schedule {
    width: 80%;
  }
}
@media (min-width: 647px) {
  .contact-info__schedule {
    width: 60%;
  }
}
@media (min-width: 768px) {
  .contact-info__schedule {
    width: 50%;
  }
}
@media (min-width: 910px) {
  .contact-info__schedule {
    width: 100%;
  }
}

.communication__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.communication__icon {
  width: 48px;
  height: 48px;
  margin: 0 16px 0 0;
}
.communication__title {
  color: #101828;
  font-size: 1rem;
  font-weight: 600;
  line-height: 150%;
  margin: 0 0 7px 0;
}
.communication__subtitle {
  color: #4a5565;
  font-size: 15px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-weight: 400;
  line-height: 23px;
}

.table {
  color: #4a5565;
  font-size: 0.937rem;
  line-height: 150%; /* 22.5/15 */
  min-width: 100%;
}
.table__caption {
  color: #101828;
  font-size: 1rem;
  font-weight: 700;
  text-align: left;
  margin: 0 0 1rem 0;
}
.table__row {
  font-family: Manrope;
  text-align: left;
}
.table__operating-hours {
  text-align: right;
  font-weight: 700;
  text-wrap: nowrap;
}

.form > :not(:last-child) {
  margin: 0 0 24px 0;
}
.form__flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 530px) {
  .form__name-row > :not(:last-child) {
    margin: 0 0 24px 0;
  }
}
@media (min-width: 530px) {
  .form__name-row {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(192.5px, 1fr) 24px minmax(192.5px, 1fr);
    grid-template-columns: repeat(2, minmax(192.5px, 1fr));
    gap: 24px;
  }
}
.form__name-row .form__flexbox {
  width: 100%;
}
.form__label {
  color: #101828;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 142.857143%; /* 20/14 */
  margin: 0 0 8px 0;
}
.form__input {
  padding: 12px 16px;
  border: 1px solid #E5E7EB;
  border-radius: 14px;
  background: #F9FAFB;
}
.form__input:focus {
  outline: 0;
}
.form__textarea {
  padding: 12px 16px;
  border: 1px solid #E5E7EB;
  border-radius: 14px;
  background: #F9FAFB;
  height: 146px;
  resize: none;
}
.form__textarea:focus {
  outline: 0;
}
.form__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #009966;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  line-height: 150%;
  width: 100%;
  padding: 15px 0;
}
.form__btn img {
  width: 21px;
  height: 21px;
  margin: auto 0 0 6px;
}
.form__answer {
  color: #6a7282;
  font-size: 0.875rem;
  text-align: center;
  font-weight: 400;
  line-height: 142.857143%; /* 20/14 */
}

.page__prefooter {
  background-image: linear-gradient(-108deg, #101828 0, #004f3b 50%, #101828 100%);
  position: relative;
}
.page__prefooter::before, .page__prefooter::after {
  content: "";
  top: 50%;
  position: absolute;
  width: 384px;
  height: 384px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-filter: blur(128px);
          filter: blur(128px);
  opacity: 0.2;
  border-radius: 50%;
}
.page__prefooter::before {
  background: #00BC7D;
  left: 0;
}
.page__prefooter::after {
  background: #7CCF00;
  right: 0;
}

.prefooter__container {
  padding: 60px 0;
}
.prefooter__header {
  padding: 0 0 32px 0;
}
.prefooter__header .sign {
  background-color: rgba(0, 188, 125, 0.2);
}
.prefooter__header .sign__text {
  color: #a4f4cf;
}
.prefooter__header .header-block__title {
  color: #fff;
  padding: 0 30px;
}
.prefooter__header .header-block__sub-title {
  color: #D1D5DC;
  padding: 0 30px;
}
.prefooter__header > :not(:last-child) {
  margin: 0 auto 24px;
}
.prefooter__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 48px 0;
  padding: 0 30px;
}
.prefooter__btns > * {
  padding: 17px 32px;
  font-size: 1rem;
  font-weight: 600;
  line-height: 150%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.prefooter__btns :not(:last-child) {
  margin: 0 0 16px;
}
@media (min-width: 487px) {
  .prefooter__btns {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .prefooter__btns :not(:last-child) {
    margin: 0 16px;
  }
}
.prefooter__start-btn {
  color: #101828;
  text-wrap: nowrap;
}
.prefooter__start-btn img {
  width: 100%;
  max-width: 20px;
}
.prefooter__demo-btn {
  color: #fff;
  border: 2px solid #00d492;
  border-radius: 14px;
  background-color: rgba(0, 189, 126, 0.2);
  text-wrap: nowrap;
}
.prefooter__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.prefooter__list :not(:last-child) {
  margin: 0 0 8px;
}
@media (min-width: 576px) {
  .prefooter__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .prefooter__list :not(:last-child) {
    margin: 0 46.33px 0;
  }
}
.prefooter__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #99a1af;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 142.857143%; /* 20/14 */
}
.prefooter__item::before {
  content: "";
  position: absolute;
  left: -16px;
  width: 8px;
  height: 8px;
  background: #00D492;
  border-radius: 50%;
}

.footer {
  background: #101828;
  color: #99A1AF;
}

.footer__container {
  padding: 84px 56px 15px;
}
.footer__container > :not(:last-child) {
  margin: 0 0 46px;
}
.footer__container > :not(:first-child) {
  border-top: 1px solid #1E2939;
}

.footer__menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: repeat(1, 1fr);
  gap: 48px;
  text-align: center;
}
@media (min-width: 576px) {
  .footer__menu {
    -ms-grid-columns: (211px)[2];
    grid-template-columns: repeat(2, 211px);
    text-align: left;
  }
}
@media (min-width: 820px) {
  .footer__menu {
    -ms-grid-columns: (211px)[3];
    grid-template-columns: repeat(3, 211px);
  }
}
@media (min-width: 1070px) {
  .footer__menu {
    -ms-grid-columns: (211px)[4];
    grid-template-columns: repeat(4, 211px);
  }
}
@media (min-width: 1270px) {
  .footer__menu {
    -ms-grid-columns: (211px)[5];
    grid-template-columns: repeat(5, 211px);
  }
}
.footer__menu .menu__block {
  text-wrap: nowrap;
}
.footer__menu .menu__block > :not(:last-child) {
  margin: 0 0 16px;
}
.footer__menu .menu__block .links__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__menu .menu__block .links__top img {
  width: 40px;
  height: 40px;
}
.footer__menu .menu__block .links__top > :first-child {
  margin: 0 8px 0 0;
}
.footer__menu .menu__block .links__body {
  text-wrap: wrap;
  color: #99a1af;
  font-size: 1rem;
  font-weight: 400;
  line-height: 162.5%; /* 26/16 */
}
.footer__menu .menu__block .links__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__menu .menu__block .links__bottom > :not(:last-child) {
  margin: 0 8px 0 0;
}
.footer__menu .menu__title {
  color: #fff;
  font-size: 1.125rem;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  line-height: 168.75%; /* 27/16 */
}
.footer__menu .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__menu .menu__list > :not(:last-child) {
  margin: 0 0 12px 0;
}
.footer__menu .menu__item {
  color: #99a1af;
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
}

.footer__subscribe {
  padding: 48px 0;
}
.footer__subscribe > :not(:last-child) {
  margin: 0 0 8px 0;
}
.footer__subscribe .subscribe__title {
  color: #fff;
  font-size: 1rem;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  line-height: 150%;
}
.footer__subscribe .subscribe__text {
  color: #99a1af;
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
}
.footer__subscribe .subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 576px) {
  .footer__subscribe .subscribe__form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.footer__subscribe .subscribe__input {
  padding: 15.5px 16px;
  width: 100%;
  max-width: 581px;
  border: 1px solid #364153;
  border-radius: 10px;
  background-color: #1e2939;
  margin: 0 0 8px;
}
@media (min-width: 576px) {
  .footer__subscribe .subscribe__input {
    margin: 0 8px 0 0;
  }
}
.footer__subscribe .subscribe__btn {
  background-color: #009966;
  color: #fff;
  padding: 12px 23px;
  font-size: 1rem;
  font-weight: 600;
  line-height: 150%;
}

.copyright {
  padding: 16px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 768px) {
  .copyright {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.copyright__left-block {
  margin: 0 0 12px;
  text-align: center;
}
@media (min-width: 768px) {
  .copyright__left-block {
    margin: 0;
  }
}
.copyright__right-block {
  margin: 0 auto;
}
@media (min-width: 768px) {
  .copyright__right-block {
    margin: 0;
  }
}
.copyright__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 576px) {
  .copyright__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.copyright__item:not(:last-child) {
  margin: 0 0 10px;
}
@media (min-width: 576px) {
  .copyright__item:not(:last-child) {
    margin: 0 16px 0 0;
  }
}
@media (min-width: 768px) {
  .copyright__item:not(:last-child) {
    margin: 0 20px 0 0;
  }
}
@media (min-width: 992px) {
  .copyright__item:not(:last-child) {
    margin: 0 24px 0 0;
  }
}