.page__about {
    padding: 60px 30px 124px;
    background-image: linear-gradient(-128deg,$color-input-bg 0,#ecfdf5 100%);
}

.about {
    .sign {
        margin: 0 auto;
    }
    
    &__container {}

    &__header {
        margin: 0 0 56px 0;
    }

    &__body {
        &>:not(:last-child) {
            margin: 0 0 32px;
        }

        @media (min-width: 910px) {
            display: grid;
            gap: 32px;
            grid-template-columns: 39.5% 60.5%;
            padding: 0 32px 0;
        }
    }

    &__contact-info {
        & > :not(:last-child) {
            margin: 0 0 32px 0;
        }
    }

    &__form {
        padding: 61px 41px 21px;
    }
}

.contact-info {
    &__top {
    }

    &__title {
        color: $color-text-dark;
        font-size: 1.5rem;
        font-family: "Manrope",sans-serif;
        font-weight: 700;
        line-height: 133%;
        letter-spacing: -.6px;

        margin: 0 0 24px 0;
    }

    &__text {
        color: $color-dark-gray;
        font-size: 0.937rem; // 15/16 //
        font-weight: 400;
        line-height: 163%;
    }

    &__body {
        & > :not(:last-child) {
            margin: 0 0 24px 0;
        }
    }

    &__communications {
    }    

    &__schedule {
        padding: 33px;
        margin: 0 auto;
        width: 100%;

        @media (min-width: 576px) {
            width: 80%;
        }

        @media (min-width: 647px) {
            width: 60%;
        }

        @media (min-width: 768px) {
            width: 50%;
        }

        @media (min-width: 910px) {
            width: 100%;
        }
    }
}

.communication {
    &__block {
    }

    &__item {
        display: flex;
    }

    &__icon {
        width: 48px;
        height: 48px;
        margin: 0 16px 0 0;
    }

    &__text {
    }

    &__title {
        color: $color-deep-ocean;
        font-size: 1rem;
        font-weight: 600;
        line-height: 150%;

        margin: 0 0 7px 0;
    }

    &__subtitle {
        color: $color-dark-gray;
        font-size: 15px;
        font-style: normal;
        margin-top: 0;
        text-align: left;
        font-weight: 400;
        line-height: 23px;
    }    
}

.contact-info__table {
}
.table {
    color: $color-dark-gray;
    font-size: 0.937rem; // 15px
    line-height: 150%; /* 22.5/15 */
    min-width: 100%;

    &__caption {
        color: $color-deep-ocean;
        font-size: 1rem; // 16px
        font-weight: 700;
        text-align: left;
        margin: 0 0 1rem 0;
    }
    &__row {
        font-family: Manrope;
        text-align: left;
    }
    &__day-of-week {
    }
    &__operating-hours {
        text-align: right;
        font-weight: 700;
        text-wrap: nowrap;
    }    
}

.about__form {
}

.form {
    &>:not(:last-child) {
        margin: 0 0 24px 0;
    }

    &__flexbox {
        display: flex;
        flex-direction: column;
    }

    &__name-row {
        @media (max-width: 530px) {
            &>:not(:last-child) {
                margin: 0 0 24px 0;
            }
        }
        @media (min-width: 530px) {
            display: grid;
            grid-template-columns: repeat(2, minmax(192.5px, 1fr));
            gap: 24px;
        }

        .form__flexbox {
            width: 100%;
        }
    }

    &__label {
        color: $color-deep-ocean;
        font-size: 0.875rem; // 14px
        font-weight: 600;
        line-height: 142.857143%; /* 20/14 */
        margin: 0 0 8px 0;
    }

    &__input {
        padding: 12px 16px;
        border: 1px solid $color-input-border;
        border-radius: 14px;
        background: $color-input-bg;

        &:focus {
            outline: 0;
        }
    }

    &__textarea {
        padding: 12px 16px;
        border: 1px solid $color-input-border;
        border-radius: 14px;
        background: $color-input-bg;
        height: 146px;
        resize: none;

        &:focus {
            outline: 0;
        }
    }

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background: $color-primary-green;
        color: $color-white;
        font-size: 1rem;
        font-weight: 600;
        line-height: 150%;
        width: 100%;
        padding: 15px 0;

        img {
            width: 21px; height: 21px;
            margin: auto 0 0 6px;
        }
    }

    &__answer {
        color: $color-light-gray;
        font-size: 0.875rem; // 14px
        text-align: center;
        font-weight: 400;
        line-height: 142.857143%; /* 20/14 */
    }
}

.input {
    
}

.textarea {
}
