.footer {
    background: $color-deep-ocean;
    color: #99A1AF;
}
.footer__container {
    padding: 84px 56px 15px;

    &>:not(:last-child) {
        margin: 0 0 46px;
    }

    &>:not(:first-child) {
        border-top: 1px solid #1E2939;
    }
}
.footer__menu {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 48px;
    text-align: center;

    @media (min-width: $breakpoint-576px) {
        grid-template-columns: repeat(2, 211px);
        text-align: left;
    }

    @media (min-width: 820px) {
        grid-template-columns: repeat(3, 211px);
    }

    @media (min-width: 1070px) {
        grid-template-columns: repeat(4, 211px);
    }

    @media (min-width: 1270px) {
        grid-template-columns: repeat(5, 211px);
    }
    
    .menu {
        &__block {
            text-wrap: nowrap;            

            &>:not(:last-child) {
                margin: 0 0 16px;
            }

            .links {
                &__top {
                    display: flex;
                    align-items: center;

                    img {
                        width: 40px; height: 40px;
                    }

                    &>:first-child {
                        margin: 0 8px 0 0;
                    }
                }

                &__body {
                    text-wrap: wrap;
                    color: #99a1af;
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 162.5%; /* 26/16 */
                }
                &__bottom {
                    display: flex;
                    &>:not(:last-child) {
                        margin: 0 8px 0 0;
                    }
                }
                &__item {
                }
            }
        }

        &__title {
            color: #fff;
            font-size: 1.125rem; // 18px
            font-family: "Manrope",sans-serif;
            font-weight: 600;
            line-height: 168.75%; /* 27/16 */
        }
        &__list {
            display: flex;
            flex-direction: column;

            &>:not(:last-child) {
                margin: 0 0 12px 0;
            }
        }
        &__item {
            color: #99a1af;
            font-size: 1rem;
            font-weight: 400;
            line-height: 150%;
        }
    }
}

.footer__subscribe {
    padding: 48px 0;

    &>:not(:last-child) {
        margin: 0 0 8px 0;
    }

    .subscribe {
        &__title {
            color: #fff;
            font-size: 1rem;
            font-family: "Manrope",sans-serif;
            font-weight: 600;
            line-height: 150%;
        }

        &__text {
            color: #99a1af;
            font-size: 1rem;
            font-weight: 400;
            line-height: 150%;
        }

        &__form {
            display: flex;
            flex-direction: column;

            @media (min-width: $breakpoint-576px) {
                flex-direction: row;
            }
        }

        &__input {
            padding: 15.5px 16px;
            width: 100%;
            max-width: 581px;
            border: 1px solid #364153;
            border-radius: 10px;
            background-color: #1e2939;
            margin: 0 0 8px;

            @media (min-width: $breakpoint-576px) {
                margin: 0 8px 0 0;
            }
        }

        &__btn {
            background-color: $color-primary-green;
            color: #fff;
            padding: 12px 23px;
            font-size: 1rem;
            font-weight: 600;
            line-height: 150%;
        }
    }
    
}
.footer__copyright {
}

.copyright {
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @media (min-width: $breakpoint-768px) {
        flex-direction: row;
    }

    &__left-block {
        margin: 0 0 12px;
        text-align: center;

        @media (min-width: $breakpoint-768px) {
            margin: 0;
        }
    }
    &__right-block {
        margin: 0 auto;

        @media (min-width: $breakpoint-768px) {
            margin: 0;
        }
    }
    &__list {
        display: flex;
        text-align: center;
        flex-direction: column;

        @media (min-width: $breakpoint-576px) {
            flex-direction: row;
        }
    }

    &__item {
        &:not(:last-child) {
            margin: 0 0 10px;
        }

        @media (min-width: $breakpoint-576px) {
            &:not(:last-child) {
                margin: 0 16px 0 0;
            }    
        }

        @media (min-width: $breakpoint-768px) {
            &:not(:last-child) {
                margin: 0 20px 0 0;
            }    
        }

        @media (min-width: $breakpoint-992px) {
            &:not(:last-child) {
                margin: 0 24px 0 0;
            }    
        }
    }    
}