.header {
    
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 16px;
    margin: 0 auto 64px;
}
.header__logo {

}

.header__menu {
    display: flex;
    align-items: center;
}
.menu {
}
.menu__list {
    display: flex;
    
}
.menu__item {
    color: #364153;
    font-size: 1rem;
    font-weight: 400;
    line-height: 150%;

    &:not(:last-child) {
        margin: 0 32px 0 0;
    }
}
.menu__button {
    margin: 0 0 0 32px;
    height: 42px;
    background: $color-primary-green;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 150%;
}