.numbers {
    padding: 60px 30px;
    background-image: linear-gradient(-180deg,#fff 0,#f9ffed 100%);

    &__header {
        .header-block {
            &__title {
                margin: 0 0 30px;
            }

            &__sub-title {

            }
        }
    }

    &__container {
        & > :not(:last-child) {
            margin: 0 0 3.5rem;
        }
    }

    &__block {}

    &__body {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 -15px -30px;
    }

    &__column {
        padding: 0 15px 30px;
        flex: 0 0 100%;

        @media (min-width: 769px) {
            flex: 0 0 50%;
        }

        @media (min-width: 1400px) {
            flex: 0 0 25%;
            padding: 0 15px 0;
        }
    }

    &__item {
        padding: 41px;
        height: 100%;
    }

    &__count {
        
    }

    &__hr {
        display: block;
        background: $color-primary-green;
        margin: 20px auto;
        width: 80%; height: 1px;
        
        @media (min-width: 768px) {
            width: 70%;
        }

        @media (min-width: 992px) {
            width: 50%;
        }

        @media (min-width: 1200px) {
            width: 1px; height: auto;
            margin: 0;
        }
    }
}

.item-number {
    &__icon {
        width: 65.33px;
        height: 65.33px;
        margin: 0 0 32px 0;
    }

    &__value {
        font-size: 40px;
        font-weight: 600;
        line-height: 120%;
        letter-spacing: -1.2px;
        margin: 0 0 24px 0;
        color: #2B2B2B;
    }

    &__title {
        font-size: 16px;
        font-weight: 600;
        line-height: 150%;
        margin: 0 0 8px 0;
        color: $color-deep-ocean;
    }

    &__text {
        font-size: 15px;
        font-weight: 400;
        line-height: 150%;
    }
}

.body-numbers {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 40px 0;
    margin: 0 15px;
    

    @media (min-width: 1200px) {
        flex-direction: row;
        justify-content: space-around;
        padding: 40px;
    }
}

.count {
    &__value {
        font-size: 48px;
        line-height: 100%;
        font-weight: 700;
        letter-spacing: -1.2px;
        color: $color-text-browngray;
        margin: 0 0 16px 0;
    }

    &__text {
        font-size: 16px;
        line-height: 150%;
        font-weight: 400;
    }
}