// =============== COLORS =============== //
$color-primary-green: #009966;
$color-secondary-green: #007A55;

$color-white: #fff;
$color-black: #000;
$color-light-white: #F3F4F6;
$color-input-border: #E5E7EB;
$color-input-bg: #F9FAFB;
$color-light-gray: #6a7282;
$color-dark-gray: #4a5565;
$color-text-browngray: #454545;
$color-text-dark: #0A0A0A;

$color-deep-ocean: #101828;

// =============== BREAKPOINTS =============== //
$breakpoint-376px: 376px;
$breakpoint-576px: 576px;
$breakpoint-768px: 768px;
$breakpoint-992px: 992px;
$breakpoint-1200px: 1200px;
// $breakpoint-container: 1295px;
$breakpoint-1400px: 1400px;
$breakpoint-1534px: 1534px;