.page {
    &__work {
        padding: 60px 30px 50px;

        @media (min-width: $breakpoint-1200px) {
            padding: 60px 0 200px 0;
        }
    }
}

.work {
    .sign {
        margin: 0 auto;
    }
    
    &__header {
        .header-block__sub-title {
            width: 100%;
            margin: 0 auto;

            @media (min-width: $breakpoint-576px) {
                width: 85%;
            }
            
            @media (min-width: $breakpoint-768px) {
                width: 60%;
            }
            @media (min-width: $breakpoint-992px) {
                width: 52%;
            }
        }
    }

    &__container {
        & > :not(:last-child) {
            margin: 0 0 4rem;
        }
    }

    &__items-column {
        display: grid;
        gap: 24px;
        grid-template-columns: repeat(1, 1fr);

        @media (min-width: $breakpoint-768px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (min-width: $breakpoint-1200px) {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    &__image {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 -24px 0;

        &>div {
            flex: 0 0 100%;
            padding: 0 24px 0;

            @media (min-width: $breakpoint-992px) {
                flex: 0 0 50%;
            }    
        }

        
    }

    &__img {
        text-align: center;
        position: relative;
        z-index: 1;

        @media (max-width: $breakpoint-992px) {
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
                background: linear-gradient(#ffffff00 10%, #fff 80%);
                width: 100%;
                height: 100%;
            }    
        }
        

        img {
            border-radius: 16px;
            overflow: hidden;
            }
    }

    &__info {
        position: relative;
        z-index: 3;
        margin: -200px 15px 0;

        @media (min-width: $breakpoint-768px) {
            margin: -250px 15px 0;
        }

        @media (min-width: $breakpoint-992px) {
            margin: 0;
        }   
    }

    .info {
        &__title {

        }

        &__text {
            padding: 0 30px 0 0;
        }
    }
}

.column {
    &__item {
        padding: 41px;

        &> :not(:last-child) {
            margin: 0 0 24px 0;
        }
    }

    &__icon {
        img {
            width: 48px;
            height: 48px;
        }
    }

    &__title {
        font-family: Manrope;
        font-size: 20px;
        font-weight: 700;
        line-height: 140%;
        letter-spacing: -0.5px;
        color: $color-deep-ocean;
    }

    &__text {
        font-size: 15px;
        font-weight: 400;
        line-height: 167%;
    }
}

.case {
    &__item {
        display: flex;
        align-items: center;
    }

    &__mark {
        margin: 0 1.5rem 0 0;
        width: 1.5rem;
        height: 1.5rem;
    }

    &__info {}

    &__title {
        font-family: Manrope;
        font-size: 16px;
        font-weight: 600;
        line-height: 150%;
        color: $color-text-dark;
    }

    &__text {
        font-size: 14px;
        font-weight: 400;
        line-height: 171.428571%; /* 24/14 */
    }
}